input.number
{
  width: 50px;
  padding: 10px 20px;
  margin: 10px 15px 0;
  border: none;
  border-bottom: 1px solid black;
}
span.operador
{
  font-weight: bold;
}
input.btn
{
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 0 0 4px blue;
}
input.act:active
{
  transform: scale(0.95);
  box-shadow: none;
}


select.select
{
  padding: 5px 10px;
  background: none;
  border-radius: 5px;
}
